/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
/*@import "primeng/resources/themes/viva-light/theme.css";*/
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@import "quill/dist/quill.core.css";
@import "quill/dist/quill.snow.css";
@import "quill/dist/quill.bubble.css";

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    background-color: #e6ecf3;
  
}

.webchat__send-box__main{
    border-radius: 25px  !important;
    width: 60%  !important;
    margin-left: 20%  !important;
    }