
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">

  
    <div class="area"></div><nav class="main-menu" >
            <ul>
                <li>
                    <a href="Edit_profile">
                      <i class="fa fa-user"></i>
                      <span class="nav-text">
                           Profil
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a href="">
                        <i class="fa fa-bolt fa-2x"></i>
                        <span class="nav-text">
                            Tasks
                        </span>
                    </a>
                </li>
           

                <li *ngIf="role.includes('Admin')">
                    <a [routerLink]="['/Admin', tenantname]">
                        <img style="margin:18px;" height="30px" src="../../assets/user-gear.png" alt="">
                        <span class="nav-text">
                            Admin Dashboard
                        </span>
                    </a>
                </li>
                
                  
                
            </ul>

            <ul class="logout">
                <li>
                   <a href="#" (click)="logout()" >
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>

                    </a>
                </li>
            </ul>
        </nav>

 