
:root {
    --blue: #2a2185;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --pink: #e20d78; /* Define your pink color */
  }


  /* ======================= Cards ====================== */
  .cardBox {
    position: relative;
    width: 90%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-left: 100px;
  }
  
  .cardBox .cardup {
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    background-color: #d7d7de;
  }
  
  .cardBox .cardup .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--blue);
  }
  
  .cardBox .cardup .cardName {
    color: var(--black2);
    font-size: 1.1rem;
    margin-top: 5px;
  }
  
  .cardBox .cardup .iconBx {
    font-size: 3.5rem;
    color: var(--black2);
  }
  
  .cardBox .cardup:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    background-color:#f2aace;
}

.cardBox .cardup:hover .numbers,
.cardBox .cardup:hover .cardName,
.cardBox .cardup:hover .iconBx {
    color: var(--white);
}
 
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(5, minmax(0, 1fr)); /* Adjusted columns */
    grid-template-rows: repeat(3, 1fr);
    gap: 1em 1em;
    grid-auto-flow: row;
    padding: 1rem;
    margin-left: 18vh;
    margin-top: -5vh;
    margin-right: 8vh;
  
    grid-template-areas:
  
      "f f g g g g g"
      "f f g g g g g"
      "f f g g g g g"
      "k k k k k k k"
      "k k k k k k k"
      "l l m m n n n";
  }
  
  
  
  .f { grid-area: f; }
  
  .g { grid-area: g; }
  
  .h { grid-area: h; }
  
  .i { grid-area: i; }
  
  .j { grid-area: j; }
  
  .k { grid-area: k; }
  
  .l { grid-area: l; }
  
  .m { grid-area: m; }
  
  .n { grid-area: n; }
  
  
  .container > div[class]:not(.g.card):not(.n.card):not(.m.card):not(.k.card) {
    background: #ffffff;
    position: relative;
    border-radius: 1rem;
    font-weight: bold;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
  }
  
  
  .black {
    color: #000;
  }
  /* Card styles */
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    padding: 15px;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #eee;
    transition: box-shadow 0.3s, transform 0.3s;
  }
  
  
  
  
  .back {
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  
  .radius-10 {
    border-radius: 10px !important;
  }
  
  .border-info {
    border-left: 5px solid  #0dcaf0 !important;
  }
  .border-danger {
    border-left: 5px solid  #fd3550 !important;
  }
  .border-success {
    border-left: 5px solid  #15ca20 !important;
  }
  .border-warning {
    border-left: 5px solid  #ffc107 !important;
  }
  
  
  .cardup {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 25px;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
    transition: box-shadow 0.3s, transform 0.3s;
  
  }


  .cardup:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  



  /*::ng-deep .p-datatable .p-datatable-tbody > tr {
    background: #ffffff;
    color: #4b5563;
    transition: box-shadow 0.2s;
    z-index: 100;
  }


  ::ng-deep .p-multiselect-panel .p-multiselect-header {
    position: fixed;
    padding: 0.75rem 1.25rem;
    border-bottom: 1px solid #e5e7eb;
    color: #374151;
    background: #f9fafb;
    margin: 0;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    z-index: 200;
    transform-origin: center top;
    top: 527.288px;
   right: 300px;
}*/


::ng-deep .p-multiselect-panel {
  position: fixed; /* or fixed, depending on your layout */
  z-index: 9999; /* Set a high z-index value */
  /* Your other styles here */
  top:450px;
  right: 180px;
  width: 230px;
}

::ng-deep .p-datatable .p-datatable-tbody > tr {

  background: #ffffff;
  color: #4b5563;
  transition: box-shadow 0.2s;
  z-index: 100; /* Lower z-index compared to the multiselect panel */
  /* Your other styles here */
}



