@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);

.container {
    margin-top: 90px;
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(5, minmax(0, 1fr)); /* Adjusted columns*/
    grid-template-rows: repeat(3, 1fr);
    gap: 1em 1em;
    grid-auto-flow: row;
    padding: 1rem;
    margin-left: 10vh;
  
    grid-template-areas:
  
      "f f f f f g g"
      "f f f f f g g"
      "f f f f f g g"
      "f f f f f n n"
      "f f f f f n n"
      "k k k k k k k";
  }
  
  
  
  .f { grid-area: f; }
  
  .g { grid-area: g; }

  .n { grid-area: n; }

  .k { grid-area: k; }
  
  
  /*.container > div[class]:not(.g.card):not(.n.card):not(.m.card):not(.k.card) {
    background: #ffffff;
    position: relative;
    border-radius: 1rem;
    font-weight: bold;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
  }*/
  
  
  .black {
    color: #000;
  }
  
  
  
  /* Card styles */
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    padding: 15px;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #eee;
    transition: box-shadow 0.3s, transform 0.3s;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  






/* Heading styling */
.g.card h3 {
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

/* Subheading styling */
.g.card h4 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #555;
}

/* Detail item styling */
.g.card div {
  margin-top: 8px;
  margin-bottom: 20px;
  
  font-size: 18px;
  color: #777;
  font-weight: 500;
}

::ng-deep .p-inplace {
  display: inline;
  cursor: pointer;
  margin-left: 10px; /* Adjust this margin as needed */
  
}

.ticket-PFlabel {
  color: #777;
  font-weight: 500;
  font-size: 18px;
}

.ticket-pf {
  color: black;
}








.custom-container {
  border-top: 2.5px solid #e2e2e4;
  border-bottom: 2.5px solid #e2e2e4;
  width: 100%; /* Adjust width as needed */
  height: 50px;
  position: relative;
}

.icon-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.icon-container i {
  margin-right: 40px;
  font-size: 24px;
  color: #666; /* Default icon color */
  transition: color 0.3s; /* Smooth transition for hover effect */
  cursor: pointer; /* Change cursor on hover */
}

.icon-container i:hover {
  color: #333; /* Change color on hover */
}

/* Additional styling for specific icons */
.icon-container .pi-info-circle:hover {
  color: #007bff; /* Change color on hover for info icon */
}

.icon-container .pi-history:hover {
  color: #17a2b8; /* Change color on hover for history icon */
}

.icon-container .pi-paperclip:hover {
  color: #28a745; /* Change color on hover for attachment icon */
}




 .ticket-title-container {
        display: flex;
        align-items: center;
    }
    .arrow-icon {
        font-size: 20px;
        color: black; /* Change color as needed */
        margin-right: 12px; /* Adjust spacing */
    }
    .ticket-title {
        margin: 7px;
    }


    ::ng-deep .p-editor-container .p-editor-toolbar.ql-snow {
      border: 1px solid #e5e7eb;
      
      width: 800px;
      margin-left: 90px;
     
  }

  ::ng-deep .p-editor-container .p-editor-content .ql-editor {
    background-color:#fff9f9;
    color: #4b5563;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}


  .f.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    padding: 0px;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #eee;
    transition: box-shadow 0.3s, transform 0.3s;
  }
  

  /*.g.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    padding: 15px;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #eee;
    transition: box-shadow 0.3s, transform 0.3s;
    height: 700px;
  }*/











@media (min-width: 0) {
  .g-mr-15 {
      margin-right: 1.07143rem !important;
  }
}
@media (min-width: 0){
  .g-mt-3 {
      margin-top: 0.21429rem !important;
  }
}

.g-height-50 {
  height: 50px;
}

.g-width-50 {
  width: 50px !important;
}

@media (min-width: 0){
  .g-pa-30 {
      padding: 2.14286rem !important;
  }
}

.g-bg-secondary {
  background-color: #fafafa !important;
}

.u-shadow-v18 {
  box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
}

.g-color-gray-dark-v4 {
  color: #777 !important;
}

.g-font-size-12 {
  font-size: 0.85714rem !important;
}

.media-comment {
  margin-top:20px;
  width: 700px;
 
  
  
}


.comment-container .row {
  display: flex; /* Added flex display to the row */
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
  justify-content: center; /* Center align the columns */
  margin-bottom: 80px;
  transition: box-shadow 0.3s, transform 0.3s;
  
  
}


.u-shadow-v18{
  box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.media-comment:hover {
  box-shadow: 0 8px 16px rgba(151, 111, 111, 0.2);
  transform: translateY(-5px);
  border-radius: 20px;
}


::ng-deep #title-c .p-inplace .p-inplace-display {
  display: block; 
  cursor: pointer;
  padding: 0.40rem 0.40rem;
  border-radius: 6px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  width: 150px;
  height: 50px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  width: 170px;
  
}


























































.card-no-border .card {
    border: 0px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.comment-widgets .comment-row:hover {
    background: rgba(0, 0, 0, 0.02);
    cursor: pointer;
}

.comment-widgets .comment-row {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    padding: 15px;
}
.comment-text:hover{
    visibility: hidden;
}
.comment-text:hover{
    visibility: visible;
}

.label {
    padding: 3px 10px;
    line-height: 13px;
    color: #ffffff;
    font-weight: 400;
    border-radius: 4px;
    font-size: 75%;
}

.round img {
    border-radius: 100%;
}

.label-info {
    background-color: #1976d2;
}

.label-success {
    background-color: green;
}

.label-danger {
    background-color: #ef5350;
}

.action-icons a {
    padding-left: 7px;
    vertical-align: middle;
    color: #99abb4;
}

.action-icons a:hover {
    color: #1976d2;
}

.mt-100 {
    margin-top: 100px
}

.mb-100 {
    margin-bottom: 100px
}






/*::ng-deep .p-editor-container .p-editor-toolbar.ql-snow {
  border: 0.4px solid rgb(153, 127, 127);
  width: 800px;
  margin-left: 90px;
  
}



::ng-deep  .p-editor-content .ql-editor {
  background: #ffffff;
  color: #4b5563;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border: 0.4px solid rgb(153, 127, 127);
}*/












body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
 
}

@media print {
 .table, .table__body {
  overflow: visible;
  height: auto !important;
  width: auto !important;
 }
}

/*@page {
    size: landscape;
    margin: 0; 
}*/




.table__header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header .input-group {
    width: 35%;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;
    
    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

.table__header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
    overflow: overlay;
}


.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}


table {
    width: 100%;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.status {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}

.status.delivered {
    background-color: #86e49d;
    color: #006b21;
}

.status.cancelled {
    background-color: #d893a3;
    color: #b30021;
}

.status.pending {
    background-color: #ebc474;
}

.status.shipped {
    background-color: #6fcaea;
}


@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    
    text-align: center;
    font-size: 1rem;
    
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
    border: 1.4px solid #6c00bd;
}

thead th:hover {
    color: #6c00bd;
}

thead th.active span.icon-arrow{
    background-color: #6c00bd;
    color: #fff;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: #6c00bd;
}

.export__file {
    position: relative;
}

.export__file .export__file-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: #fff6 url(/images/export.png) center / 80% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.export__file .export__file-btn:hover { 
    background-color: #fff;
    transform: scale(1.15);
    cursor: pointer;
}

.export__file input {
    display: none;
}

.export__file .export__file-options {
    position: absolute;
    right: 0;
    
    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;

    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;
    
    box-shadow: 0 .2rem .5rem #0004;
    
    transition: .2s;
}

.export__file input:checked + .export__file-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
}

.export__file .export__file-options label{
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: #f2f2f2;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: .2s ease-in-out;
}

.export__file .export__file-options label:first-of-type{
    padding: 1rem 0;
    background-color: #86e49d !important;
}

.export__file .export__file-options label:hover{
    transform: scale(1.05);
    background-color: #fff;
    cursor: pointer;
}

.export__file .export__file-options img{
    width: 2rem;
    height: auto;
}


.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 55vh;
}
.attachment-icon {
  text-align: center;
  margin-bottom: 20px;
}
 
.attachment-icon i {
  font-size: 32px;
}






 textarea {
  width: 800px;
  height: 230px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

textarea:focus {
  outline: none;
  border-color: #5c7cfa;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}








