<body>
  <app-Navbar></app-Navbar>
  <div class="container">
    <div class="f card">
      <div class="section">
      <h3>Section 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
      <img src="../../assets/overviewimage.png" alt="">
    </div>
    <div class="g card">
      <h3>Section 2</h3>
    </div>
    <div class="n card">
      <div>
       <h3>Members</h3> 

      <p-avatarGroup styleClass="mb-3">
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" size="large" shape="circle"></p-avatar>
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png" size="large" shape="circle"></p-avatar>
        <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png" size="large" shape="circle"></p-avatar>
        <p-avatar label="+2" styleClass="mr-2" size="large" shape="circle"></p-avatar>
    </p-avatarGroup>
  </div>
    </div>
  </div>
  <app-Sidebar></app-Sidebar>
</body>
